<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Virtual_EDW.Properties.User_Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Virtual_EDW.Virtual_Enterprise_Data_Warehouse" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Virtual_EDW.Properties.User_Settings>
      <setting name="StagingDatabase" serializeAs="String">
        <value>EDW_100_Staging_Area</value>
      </setting>
      <setting name="RoelantColour" serializeAs="String">
        <value>255, 128, 0</value>
      </setting>
    </Virtual_EDW.Properties.User_Settings>
    <Virtual_EDW.Virtual_Enterprise_Data_Warehouse>
      <setting name="StagingDatabase" serializeAs="String">
        <value>EDW_100_Staging_Area</value>
      </setting>
    </Virtual_EDW.Virtual_Enterprise_Data_Warehouse>
  </userSettings>
  <connectionStrings>
    <add name="DataVaultFrameworkEntities" connectionString="metadata=res://*/DataVault.csdl|res://*/DataVault.ssdl|res://*/DataVault.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BISERVER\BISERVER_SANDBOX;initial catalog=EDW_900_OMD_Framework;user id=sa;password=K3kobus2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
