<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Handlebars.Net.1.8.0.Signed" version="1.8.0" targetFramework="net461" />
  <package id="Microsoft.Data.SqlClient" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.1.1" targetFramework="net461" />
  <package id="Microsoft.Identity.Client" version="4.22.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.8.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.8.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.8.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.20216.14" targetFramework="net461" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="161.44091.28" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.13" targetFramework="net461" />
  <package id="System.Data.OleDb" version="5.0.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.8.0" targetFramework="net461" />
  <package id="System.Management" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.ProtectedData" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
</packages>