<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Handlebars.Net.1.8.0.Signed" version="1.8.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="150.18208.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net461" />
</packages>